.nav-masthead .nav-link {
  border-bottom: .25rem solid transparent;
    color:whitesmoke;
}

.nav-masthead .nav-link:hover,.nav-masthead .nav-link:focus{
    
     border-bottom-color: rgba(255, 255, 255, .25);
    transition: .2s ease-in;
    
}
body{
    position: relative;
}
#head{
    font-family: 'Rock Salt';
}


#myVideo{
    position: fixed;
    z-index: -1;
    
}
.bg{
    z-index: 1;
}
.title-head{
    text-align: center; 
    margin-top: 1.5em;
    font-family: Times New Roman;
    font-size: 65;
   
    transform: opacity 2s ease-in;
    animation: fadein 4s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
input[type=text]{
    background-image: url('/images/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}
.form-inline{
    
    margin-right: 2.5em;
}


/* Login DropDown CSS */
#login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:14px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    width: 100%;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}


.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
#google{
    font-family: roboto;
}